<!--  small pages fix  -->
<style>html, body, #wrapper, #page-wrapper {height: 100%;}</style>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Login 
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Home
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->


<!-- Welcome text -->
<div class="row" style="margin-bottom: 20px">
    <div class="col-lg-12">
        <h2 class="page-header">Welcome to FudgeCMS </h2>
        <h4>A Dog-Friendly Content Management System and  Website Generator</h4>
    </div>
</div>
<!-- /.row -->




<!-- Welcome text
<div class="row" style="margin-bottom: 20px">
    <div class="col-lg-12">

        <div ng-if=loggedInUser>
            Welcome {{loggedInUser}} |  <a href="admin/pages">My Admin</a> | <a href ng-click='logout()'>Logout</a>
        </div>

        <div ng-if=!loggedInUser>
            loggedInUser does not exist  <br/>

            User typing: {{credentials.username}}    
        </div>

    </div>
</div>
<!-- /.row -->



<!-- Welcome text -->
<div class="row" style="margin-bottom: 20px">
    <div class="col-lg-6">

        <h5>Log in to build your website</h5>

        <form role="form" id="login" ng-submit="login(credentials)">

            <div class="form-group">
                <label>Login</label>
                <input class="form-control" type="text" ng-model="credentials.username"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password"  ng-model=" credentials.password"/>
            </div>

            <input type="submit" class="btn btn-success" value="Login">

        </form>

    </div>
</div>
<!-- /.row -->

<div class="fudgehome"><img src="/img/fudge_home.jpg" /></div>

