<div ng-if=loggedInUser>
    Welcome {{loggedInUser}} |  <a href="admin/pages">My Admin</a> | <a href ng-click='logout()'>Logout</a>
</div>

<div ng-if=!loggedInUser>
    loggedInUser does not exist  <br/>

    User typing: {{credentials.username}}    
</div>


<h1>Login</h1>
<hr/>

<form role="form" id="login" ng-submit="login(credentials)">

	<div class="form-group">
		<label>Login</label>
		<input class="form-control" type="text" ng-model="credentials.username"/>
	</div>
	<div class="form-group">
		<label>Password</label>
		<input class="form-control" type="password"  ng-model=" credentials.password"/>
	</div>

	<input type="submit" class="btn btn-success" value="Login">

</form>